// section media
.section-media {
  background-color: #000;
}

// section prog'
.section-programmation {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  > article {
    position: relative;
    width: 100%;
    padding-block: 4rem;

    @include desktop {
      width: 50%;

      .container {
        width: calc(var(--container-width) / 2);
        max-width: 100%;
        margin-inline: 0;
      }
    }
  }

  .prog {
    display: flex;
    background-color: var(--c-secondary);

    @include desktop {
      justify-content: flex-end;
    }
  }
  .tickets {
    display: grid;
    background-color: var(--c-black);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 3.75rem;
      height: 3.75rem;
      background-color: var(--c-secondary);
      border-radius: 100%;
      transform: translate(-50%, -50%);

      @include desktop {
        left: 0;
        top: 50%;
      }
    }

    .container {
      display: grid;
      place-items: center;
      place-content: center;
    }
  }

  h2 {
    font-size: 4rem;
    line-height: 1.2;

    & + p {
      margin-top: 1rem;
    }
  }

  .button {
    margin-top: 2rem;

    &:not(.button--third) {
      svg {
        color: var(--c-primary);
      }
    }
  }

  .tickets {
    h2 {
      color: var(--c-secondary);
      text-align: center;

      &::first-line {
        font-size: 1.35rem;
        color: var(--c-white);
      }
    }

    &.is-closed {
      h2 {
        color: var(--c-third);
      }

      svg {
        animation: heartbeat 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19)
          infinite both;
        color: var(--c-third);
      }
    }
  }
}

// about section
.section-about {
  padding-block: 5rem;
  background-color: var(--c-light);

  .grid {
    gap: 2rem;
    @include desktop {
      row-gap: 5rem;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--c-gray--dark);
  }

  h3 {
    font-size: 2.25rem;
    color: var(--c-fourth);
  }

  svg {
    width: 5rem;
    height: 5rem;
    color: var(--c-primary);
  }
}

// last blog posts
.section-last-blog-posts {
  padding-block: 8rem;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    & + p {
      color: var(--c-gray--dark);
    }
  }

  .button {
    margin-top: 2rem;
  }

  .last-posts__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    @include desktop {
      margin-top: 0;
    }

    span {
      color: var(--c-gray--dark);
    }

    h3 {
      font-size: 1.5rem;
    }

    li a {
      display: flex;
      gap: 1rem;
      text-decoration: none;
      color: currentColor;
      border-radius: 1rem;

      img {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 1rem;
        flex-shrink: 0;
        object-fit: cover;
      }

      &:hover,
      &:focus {
        h3 {
          text-decoration: underline;
        }
      }
    }
  }
}
