:root {
  --c-primary: #e0673c;
  --c-secondary: #58e390;
  --c-third: #c21c4c;
  --c-fourth: #5c3c27;
  --c-light: #fef7c1;
  --c-black: #1e1e1e;
  --c-white: #ffffff;
  --c-gray: #d9d8dc;

  // fonts
  --f-family: "Inconstant", arial, sans-serif;
  --f-title: "Bebas Neue", sans-serif;
  --f-size--base: 1.125rem;

  // container
  --container-width: 1300px;
  --gutter-width: 1.25rem;
}
