.newsletter-controls {
  padding-top: 4rem;
  background-color: var(--c-black);

  color: var(--c-secondary);

  .mc-field-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 53.75rem;
    margin-inline: auto;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  label,
  .form-control {
    // flex: 1;
  }

  label {
    flex: 1.5;
    font-family: var(--f-title);
    font-size: 2rem;
  }

  .form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0.25rem;
    background-color: var(--c-white);
    border-radius: 2rem;

    &:focus-within {
      outline: 2px solid var(--c-secondary);
      outline-offset: 0.2rem;
    }

    input {
      flex: 1;
      border: 0;
      border-radius: 2rem;
      margin-left: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    button[type="submit"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      border: 0;
      background-color: var(--c-secondary);
      color: var(--c-black);
      cursor: pointer;

      &:hover {
        color: white;
      }

      &:focus {
        background-color: var(--c-black);
        color: var(--c-white);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
