.section-partners {
  padding-block: 3.75rem;

  h2 {
    font-size: 1rem;
    text-align: center;
    color: var(--c-gray--dark);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    list-style-type: none;
    padding: 0;
    margin: 1.875rem 0 0 0;
  }

  img {
    filter: grayscale(1);
  }
}
