.related-links {
  padding-block: 0.625rem;
  border-block: 1px solid var(--c-gray);

  ul {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2.25rem;
    font-family: var(--f-title);
    color: var(--c-gray--dark);
    text-decoration: none;
    transition: color 0.5s;

    svg {
      width: 2.25rem;
      height: 2.25rem;
      transition: color 0.5s;
    }

    &:hover,
    &[aria-current] {
      color: currentColor;
      svg {
        color: var(--c-primary);
      }
    }

    @include desktop {
      font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    }
  }
}
