// @use "sass:map";

.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.875rem 1.25rem;
  border: 0;
  border-radius: 1.25rem;
  background-color: var(--c-secondary);

  color: var(--c-black);
  font-family: var(--f-title);
  font-size: 1.25rem;
  letter-spacing: 0.02ch;
  text-decoration: none;

  transition: transform 0.5s;
  transform-origin: center;
  will-change: transform;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: currentColor;
  }

  &:hover {
    transform: scale(1.05);
  }

  // styles
  $styles: "primary", "secondary", "third", "fourth", "light";
  @each $style in $styles {
    &--#{$style} {
      background-color: var(--c-#{$style});
      @if ($style == "third") {
        color: var(--c-white);
      } @else {
        color: currentColor;
      }

      &:focus-visible {
        outline-color: var(--c-#{$style});
      }
    }
  }

  &--as-link {
    padding: 0;
    background-color: transparent;
    color: currentColor;

    &:hover {
      text-decoration: underline;
    }
  }

  &--as-icon {
    padding: 1.25rem;
    border-radius: 100%;
  }
}
